
.page {
  height: 1000vh;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 20px;
  gap: 10px;
  font-family: "Archivo Black", sans-serif;
  opacity: 0.7;
  font-size: large;
}

h2{
  opacity: 0.7;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  margin-left: 1vh;
  margin-right:1vh;
  padding-bottom: 67px;
}

h3{
  opacity: 0.7;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  margin-left: 1vh;
  margin-right:1vh;
  padding-bottom: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: clamp(1rem, vh + 1em, 1.3rem);

}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.earlyweb a {
  font-family: "Alegreya", serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none; 
  opacity: 0.9;
}

.earlyweb a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #0a4904;
  text-decoration-thickness: 2px;
  font-style: italic;

}


a {
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none; 
  opacity: 1;
  font-style: normal;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #0a4904;
  text-decoration-thickness: 2px;
  font-style: italic;
}